html,body{
  height:100%;
  margin:0;
  padding:0;
}

body{
    background-color : #A6C1E8;
 }

    @media (min-width: 1080px) {
      .page {
        min-height: 54em;      }
    }

.titre{
	text-align : center;
	background-color : white;
	height: 60px;
}
	


.separateur{
	height: 40px;
	background-color: #A6C1E8;
}

.texte{
	margin-top : -60px;
}

.titre h2{
	font-family: Baskerville;
	font-style: italic;
	padding-top : 14px;
}

h2{
	font-family: Baskerville;
	color : #2b689c;
	font-size : 2vw;
}

hr{
	width : 100%;
	height: 8px;
	border-top : 0.5px solid #8cd2cd;
}

h4{

	color : #1C3353;
	font-size : 1vw;
}

p{
	font-family : Georgia;
	color : #305589;
	font-size : 1vw;
}

.cadre{
	padding-top : 3%;
	padding-bottom: 2%;
	padding-left : 5%;
	margin-left : 5%;
	border: 1px solid #8cd2cd;
	border-radius: 5px;
}

.fleche{
	float: left;
	margin-right: 5%;
	margin-top: 2%;
}

.ligne_verticalePremiere{
	float: left;
	margin-right: 5%;
	margin-left: -5%;
    width:5px;
    border-left:1px solid #8cd2cd;
    height:7vw;
}

.ligne_verticaleDerniere{
	float: left;
	margin-right: 5%;
	margin-left: -5%;
    width:5px;
    border-left:1px solid #8cd2cd;	
    height:4vw;
}

.ligne_verticaleTitre{
	margin-top: 2%;
	margin-right: 5%;
	float: left;
	border-left:1px solid #8cd2cd;	
	width:5px;
	height: 3vw;
}

.page{
	background-color : white !important;
	width : 52%;
	margin-left: auto;
	margin-right: auto;
	padding-top : 3%;
	padding-bottom : 3%;
	padding-left : 3%;
	padding-right : 3%;
}

.diapo{
	width : 65%;
	height : 300px;
}

.struct{
	margin-top : 40px;
}
.slides{
	background-size : cover;
}

.miniature{
	width : 50px;
	height : 30px;
}

.miniatures{
	margin-left : 12%;
}

.bouton {
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	width : 75%;
	height : 35px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.2s;
    cursor: pointer;
    background-color: #8cd2cd; 
    color: white; 
	margin-top : 5%;
	margin-bottom : 5%;
}

.bouton:hover {
    background-color: #2b689c;
    color: white;
}