html{
  overflow-x: hidden;
}


.page{
    background-image: url(../images/contact.jpg);
    background-size:100% 100%;
    background-repeat: no-repeat;
    opacity:0.75;
}



    @media (min-width: 1080px) {
      .page {
        min-height: 54em;      }
    }




}


